*, *::before, *::after {
	box-sizing: border-box;
}
html {
	font-size: 2.5vw;
}
body {
	margin: 0;
}
section {
	display: flex;
	height: 100vh;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}
p {
	
}